In [13]:
import numpy as np 
import pandas as pd

In [14]:
df = pd.DataFrame()
for i in range(7):
    j = pd.read_csv(f"data/{i+1}.csv")
    df = pd.concat([df, j])
df.head()

,First Name,Last Name,Email,Accepts Email Marketing,Company,Address1,Address2,City,Province,Province Code,Country,Country Code,Zip,Phone,Accepts SMS Marketing,Total Spent,Total Orders,Tags,Note,Tax Exempt
0,Jyoti,Sahni,jyotisahnisolan@gmail.com,yes,NaN,House number 6 ward number 8 above Maya ram de...,NaN,SOLAN,Himachal Pradesh,HP,India,IN,'173212,08278860168,no,878.30,2,NaN,NaN,no
1,Dipty,Gupta,diptygupta2013@gmail.com,no,NaN,G - 103 delhi rajdhani app,"patparganj , IP extension",EAST DELHI,Delhi,DL,India,IN,'110092,+919971560943,no,3185.60,7,NaN,NaN,no
2,Uttam,Sahu,uttamsahu131@gmail.com,yes,NaN,House no.558 Near Rest House Ward No.2 Main Ro...,NaN,Bagbahra,Chhattisgarh,CG,India,IN,'493449,81098 79099,no,2926.45,3,NaN,NaN,no
3,Palden,Namgyal,pgirbaudn@gmail.com,yes,NaN,"Manduwala, House no.a/18 tkl society",House no.a/18,Dehradun,Uttarakhand,UK,India,IN,'248001,099175 29646,no,1388.00,2,Zero Purchase 1,NaN,no
4,Manmohan,Mishra,manmohanmishra7575@gmail.com,yes,NaN,110 near bus stand hasanpur katauli,NaN,Isanagar road near bus stand hasanpur katauli,Uttar Pradesh,UP,India,IN,'261502,08318301660,no,1961.03,5,NaN,NaN,no

In [15]:
df.shape

(42066, 20)

In [16]:
df.columns
li = ['Accepts Email Marketing','Company', 'Address1', 'Address2', 'City', 'Province', 'Province Code','Country Code', "Accepts SMS Marketing","Tax Exempt",  'Total Spent',"Tags","Note"]
df = df.drop(li, axis = 1)

In [17]:
df = df.dropna()

In [18]:
k = []
for i in df["Total Orders"]:
    if i==0:
        k.append(i)
    else:
        k.append("NaN")

In [19]:
df["od_no"] = k

In [20]:
df

,First Name,Last Name,Email,Country,Zip,Phone,Total Orders,od_no
0,Jyoti,Sahni,jyotisahnisolan@gmail.com,India,'173212,08278860168,2,NaN
1,Dipty,Gupta,diptygupta2013@gmail.com,India,'110092,+919971560943,7,NaN
2,Uttam,Sahu,uttamsahu131@gmail.com,India,'493449,81098 79099,3,NaN
3,Palden,Namgyal,pgirbaudn@gmail.com,India,'248001,099175 29646,2,NaN
4,Manmohan,Mishra,manmohanmishra7575@gmail.com,India,'261502,08318301660,5,NaN
...,...,...,...,...,...,...,...,...
4812,Tabassum,Ansari,tabassumnsr381@gmail.com,India,'248006,94567 38399,0,0
4813,Lavina,Cardozo,cmarialavina@gmail.com,India,'403402,74062 57476,1,NaN
4814,JUHI,Babbar,barbeeangel00@gmail.com,India,'221010,08756014588,1,NaN
4815,Satua,M,gopi_satya@yahoo.com,India,'500049,91777 71435,0,0
4816,Sahithya,M.a,sahitya.mj@gmail.com,India,'591102,9686867621,1,NaN

In [21]:
df = df.dropna()

In [22]:
df = df[df["od_no"] == 0]

In [23]:
df

,First Name,Last Name,Email,Country,Zip,Phone,Total Orders,od_no
21,Manjila,Khatun,m.khatun005@gnail.com,India,'743368,99338 33567,0,0
32,Pooja,Sharma,nakulsharma439@gmail.com,India,'331001,9783750708,0,0
49,Meenu,Pasricha,meenuu4143@gmail.com,India,'181201,062392 77275,0,0
5,aman,khatri,khatriaman939@gmail.com,India,'201301,79827 74920,0,0
6,Rohit,Sangwan,rht1025@gmail.com,India,'127306,7678492537,0,0
...,...,...,...,...,...,...,...,...
4783,Manjila,Khatun,m.khatun005@gnail.com,India,'743368,99338 33567,0,0
4794,Pooja,Sharma,nakulsharma439@gmail.com,India,'331001,9783750708,0,0
4811,Meenu,Pasricha,meenuu4143@gmail.com,India,'181201,062392 77275,0,0
4812,Tabassum,Ansari,tabassumnsr381@gmail.com,India,'248006,94567 38399,0,0
4815,Satua,M,gopi_satya@yahoo.com,India,'500049,91777 71435,0,0

In [12]:
df.to_csv("NUL_out.csv")

In [24]:
df["Phone"]

21       99338 33567
32        9783750708
49      062392 77275
5        79827 74920
6         7678492537
            ...
4783     99338 33567
4794      9783750708
4811    062392 77275
4812     94567 38399
4815     91777 71435
Name: Phone, Length: 5803, dtype: object

In [38]:
list1 = []
for i in df["Phone"]:
    summ = 0
    for j in i:
        summ+=1
    if summ==10:
        k = ((i.strip()).replace(" ", ""))
        list1.append(k)
    elif "+91" in i:
        k = ((i[3:].strip()).replace(" ", ""))
        list1.append(k)
    elif "0" in i[0]:
        k = ((i[1:].strip()).replace(" ", ""))
        list1.append(k)
    else:
        k = (i.strip()).replace(" ", "")
        list1.append(k)

In [39]:
list1

['9933833567',
 '9783750708',
 '6239277275',
 '7982774920',
 '7678492537',
 '8527253972',
 '9999497795',
 '9810834679',
 '9718141205',
 '9426610785',
 '8867616593',
 '8446664224',
 '9238445666',
 '9845435748',
 '9818654621',
 '7020207809',
 '9622313777',
 '9756681222',
 '7982774920',
 '7574826558',
 '7898936882',
 '9651143638',
 '19651143638',
 '9325292938',
 '9557456734',
 '19457394222',
 '9999807067',
 '600081',
 '7570976354',
 '9781102310',
 '9501888323',
 '8544915917',
 '9081832424',
 '9309722703',
 '9690011285',
 '7016374008',
 '8652544514',
 '9607801801',
 '8940159374',
 '8889507989',
 '9825115619',
 '7226990642',
 '8427363009',
 '8210578504',
 '8264531992',
 '9999148303',
 '8867234417',
 '7094205247',
 '1234567891',
 '9427915133',
 '7503708865',
 '9729438789',
 '9752337611',
 '9623522567',
 '9948068198',
 '8287058168',
 '9034861970',
 '9310562357',
 '9694097181',
 '9929955837',
 '7070991365',
 '3349759702',
 '8999957035',
 '2025501165',
 '9508144377',
 '7821024009',
 '9334426773',
 '9583557223',
 '8700789310',
 '9695236315',
 '9509207832',
 '8368564434',
 '9153177183',
 '7999138787',
 '9873739695',
 '8847039330',
 '9223294472',
 '9549708384',
 '7014182315',
 '9008729981',
 '9953843688',
 '9428614053',
 '8179342419',
 '8126199600',
 '8307574665',
 '9448951889',
 '8744900518',
 '9838560624',
 '8101747424',
 '7644813362',
 '6009550249',
 '8630171013',
 '7073984034',
 '8178496588',
 '8849223878',
 '9910115225',
 '7683806050',
 '9628206668',
 '7987046627',
 '9990263484',
 '8038469333',
 '3137976073',
 '9312304769',
 '9826423784',
 '8700275392',
 "'+61484741527",
 '8963835723',
 '9953050401',
 '7259611921',
 '9209991200',
 '8581903822',
 '9565816769',
 '7839450947',
 '8448049348',
 '9784292979',
 '8840049752',
 '9893423938',
 '9136520875',
 '8001001270',
 '9622532851',
 '9441877158',
 '9422212643',
 '9420440987',
 '9419106111',
 '9520306108',
 '7738138335',
 '9867922502',
 '18867271595',
 '6264677751',
 '8700643549',
 '8406931685',
 '7210887786',
 '9811660067',
 '8340515707',
 '9172913804',
 "'+46736219528",
 '9177648438',
 '7977583910',
 '9905008469',
 '9711082082',
 '8394068250',
 '9936659158',
 '9898989898',
 '9821005158',
 '9490864780',
 '9850002914',
 '7382534901',
 '9670155971',
 '7678320300',
 '9411816966',
 '7305412247',
 '9711857376',
 '8569035141',
 '9899519533',
 '9814443898',
 '9755169517',
 '7988227466',
 '6264817460',
 '7895295173',
 '8935077000',
 '8849474445',
 '9492556007',
 '9588035355',
 '8175067207',
 '1(609)516-5832',
 '(909)452-6156',
 '8851404900',
 '7987671964',
 '8104409913',
 '6009976257',
 '8299635344',
 '9461473953',
 '8755795632',
 '19884332391',
 '7870009077',
 '9814210752',
 '8878957895',
 '8368766202',
 '7837845778',
 '8278862680',
 '7428910160',
 '6003645734',
 '8178180452',
 '8394844240',
 '9810521624',
 '9773510177',
 '8077242361',
 '7323859115',
 '9818323495',
 '9868472709',
 '7002058210',
 '7892894225',
 '8897915099',
 '(773)971-3964',
 '7051333852',
 '9381718585',
 '9540184473',
 '7905580697',
 '9335397815',
 '8655173349',
 '9975968237',
 '8527135559',
 '8142354698',
 '3133433085',
 '8077055398',
 '9910222618',
 '9760762222',
 '8123716486',
 '7983600738',
 '9142655846',
 '7528804885',
 '8923757537',
 '9050062069',
 '9050062069',
 '9954551991',
 '8953748166',
 '7896275798',
 '9049555241',
 '9837003009',
 '9707197204',
 '9897792481',
 '9496428725',
 '7250435198',
 '8968516224',
 '9619065776',
 '6393134720',
 '8707606267',
 '9711138119',
 '7681913804',
 '9785810964',
 '8755114087',
 '9870562506',
 '3016572106',
 '7999598646',
 '9899449099',
 '7974591167',
 '9834254026',
 '8123697745',
 '9203185808178',
 '9992237420',
 '7410537634',
 '6238550851',
 '8874668964',
 '9431030005',
 '9637400312',
 '9034245720',
 '17827147171',
 '7206270781',
 '8180862548',
 '7991197073',
 '9153541010',
 '7457847117',
 '9879541753',
 '6006998587',
 '7992470766',
 '9821031628',
 '7350152003',
 '9008180757',
 '8708728901',
 '7049100863',
 '9162178747',
 '7807667',
 '7988349344',
 '(778)318-0403',
 '0194252328',
 '9956703243',
 '9293657523',
 '7991198183',
 '9566059950',
 '9669734310',
 '7018342377',
 '8340565941',
 '7355377077',
 '8104145419',
 '9472935682',
 '9924431005',
 '7357022736',
 '8102159107',
 '7889374745',
 '8698413370',
 '9634010113',
 '33222134',
 '3010085522',
 '9080676859',
 '8885100008',
 '9021968096',
 '8116420251',
 '7827941638',
 '7828317127',
 '8960397879',
 '9860327810',
 '7986659332',
 '9978601559',
 '9136200113',
 '7007818451',
 '9811154847',
 '9339239966',
 '7972722384',
 '8087170287',
 '9994225931',
 '9888206796',
 '8178096841',
 '9991156846',
 '7003872039',
 '8930414111',
 '3054142917',
 '8077955133',
 '9463251723',
 '8210134022',
 '+1918580404787',
 '6396073116',
 '8605365389',
 '9953949189',
 '7306922581',
 '9563256733',
 '8918662932',
 '9450151686',
 '8617726890',
 '8686073527',
 '7080966687',
 '9769701410',
 '6538245787',
 '6296529439',
 '9891380218',
 '9967806961',
 '7055667574',
 '9137516604',
 '8638399280',
 '6381643768',
 '9637807404',
 '9736969394',
 '9310891170',
 '9547204040',
 '8200546552',
 '7975380136',
 '9938152134',
 '9403161394',
 '9876543257',
 '7059818230',
 '19306395918',
 '3555525553',
 '9844564666',
 '7639780759',
 '919435059004',
 '9558126156',
 '6300836248',
 '8269116963',
 '8449127842',
 '9694831565',
 '8708364571',
 '9694280833',
 '7310988264',
 '9591452780',
 '8452819617',
 '9820380937',
 '8374727338',
 '6284677264',
 '8527970750',
 '7015962343',
 '6283536151',
 '8929699278',
 '9825467714',
 '82876663688',
 '9007851254',
 '7899038999',
 '9902048068',
 '8968061881',
 '9687952812',
 '7635875710',
 '9061278388',
 '9163570736',
 '9533379281',
 '9920985672',
 '701606874',
 '9825015373',
 '9890420420',
 '9958117232',
 '7303279009',
 '9858500777',
 '7002230547',
 '8690402526',
 '8348932206',
 '8130119114',
 '9065668187',
 '0310647867062',
 '7008971123',
 '7854073278',
 '9834385871',
 '6269566080',
 '8423646507',
 '9856325809',
 '8670307816',
 '9618393715',
 '99333279923',
 '9659446460',
 '8148707305',
 '8058035343',
 '9818367501',
 '9421062491',
 '0919833000383',
 '9423082076',
 '9381191292',
 '9437735542',
 '7087060230',
 '7017907303',
 '8955295116',
 '9636395188',
 '9911110754',
 '9999766534',
 '8309598435',
 '8708731600',
 '9753944623',
 '9950224388',
 '8454995264',
 '7013471495',
 '7017553916',
 '9782365118',
 '9833055117',
 '0923012373022',
 '9769001462',
 '7909048586',
 '6360186341',
 '9761265666',
 '7742499900',
 '7980440549',
 '9555949537',
 '6239551318',
 '8953892211',
 '8700643549',
 '7012115335',
 '9606296791',
 '7207608672',
 '8348042591',
 '8962013630',
 '+1919641841370',
 '7889222471',
 '19922681463',
 '9102149880',
 '8586062685',
 '8297548813',
 '8801070020',
 '7975299097',
 '9773860916',
 '9799804367',
 '9588022274',
 '18356954456',
 '8141700378',
 '9415331111',
 '7979910970',
 '6361041433',
 '7205793130',
 '7722977889',
 '8500055990',
 '1516-037138',
 '316154643',
 '9016290508',
 '9594576058',
 '9718095769',
 '7585881617',
 '7559972529',
 '9410838374',
 '9314476683',
 '8077865314',
 '9021616804',
 '9906432525',
 '9540995190',
 '7009915053',
 '21481814',
 '6281630145',
 '9876267965',
 '8390288513',
 '9037409117',
 '9167911471',
 '7676369198',
 '9718057769',
 '7579495727',
 '9220927025',
 '8303782768',
 '9503218824',
 '9523057151',
 '9952634003',
 '8376914910',
 '8985016856',
 '9370862091',
 '7486959460',
 '7014227072',
 '9892789647',
 '7797792990',
 '9925916556',
 '9814844488',
 '8727880604',
 '8982312816',
 '8948133331',
 '9167374565',
 '8801545492',
 '8595835153',
 '8319406673',
 '8095846421',
 '8799372603',
 '9904126822',
 '9886515262',
 '7736615182',
 '9560647489',
 '9899179034',
 '7365093783',
 '8177093864',
 '8864982634',
 '9971589857',
 '7482802088',
 '8637582544',
 '7088220095',
 '8981256223',
 '8441862630',
 '9080141020',
 '7067404473',
 '9411141006',
 '8059095227',
 '8574859812',
 '9176546369',
 '7842289170',
 '7738982277',
 '19959286995',
 '9837418695',
 '8309482390',
 '6200882707',
 '9986683727',
 '8449130513',
 '9762520459',
 '3044647786',
 '8016102289',
 '9412053115',
 '9405161624',
 '9928553799',
 '7760894287',
 '9594510502',
 '7044327486',
 '8427917904',
 '9041285605',
 '9958107562',
 '9910691105',
 '8140326676',
 '9819833536',
 '+1916369719457',
 '8899902124',
 '9658324624',
 '9315337454',
 '7550981045',
 '8303793050',
 '9766875314',
 '8290900590',
 '7440441771',
 '8105409476',
 '9915279005',
 '8448901903',
 '9717159454',
 '7397630660',
 '9313974039',
 '8368186291',
 '9821167656',
 '7017827792',
 '8250885488',
 '8736992969',
 '8355998384',
 '8879392483',
 '9255410866',
 '9971010579',
 '9561671263',
 '9928029260',
 '9004309040',
 '9424585997',
 '7428041799',
 '8652266056',
 '7060657766',
 '9390636783',
 '7875003255',
 '8486891008',
 '8376996952',
 '7799080135',
 '7768819517',
 '9759758450',
 '8448778476',
 '9007152414',
 '9176104989',
 '9660919413',
 '9739857053',
 '9979901042',
 '9717580904',
 '9639237590',
 '9125491318',
 '50-949-9355',
 '9010398532',
 '9816076701',
 '7792092592',
 '8348932206',
 '8469815557',
 '721253',
 '9513224814',
 '6290977923',
 '8129482391',
 '8800503570',
 '8793442928',
 '8920873782',
 '9599559933',
 '8769309382',
 '8817357380',
 '7217000906',
 '+1917989555070',
 '6386818653',
 '7011347336',
 '9105515057',
 '7980660440',
 '9424585997',
 '8910559681',
 '6360219974',
 '6395499292',
 '9045717800',
 '7602105688',
 '9682307057',
 '7786852241',
 '8319785739',
 '8660157723',
 '9336317903',
 '9250443945',
 '8874097161',
 '8401948922',
 '9716204638',
 '9807714089',
 '7317098547',
 '7828454904',
 '9870362121',
 '9975607320',
 '9415424300',
 '8868857355',
 '9048227379',
 '8974054370',
 '7302124618',
 '8285636055',
 '7981176909',
 '7232921000',
 '9909409890',
 '9373933295',
 '7906415053',
 '(876)542-1685',
 '7001639554',
 '9840573363',
 '18607629430',
 '9841023020',
 '9624199662',
 '7978766137',
 '8770265482',
 '3018931362',
 '8827065679',
 '8940698047',
 '8928011378',
 '7983850284',
 '9953293216',
 '7814166843',
 '9972925598',
 '8348932206',
 '9284629371',
 '5676576575',
 '7780691466',
 '7980021930',
 '9914067456',
 '9741197984',
 '8888898404',
 '7096022680',
 '7999577645',
 '9811986037',
 '9633823602',
 '8968257856',
 '9048114860',
 '9101653841',
 '9825122686',
 '9625964844',
 '17814470836',
 '9560277255',
 '9711610152',
 '7479806786',
 '9723022302',
 '9717385707',
 '9630049980',
 '8638473540',
 '8765727460',
 '8981961850',
 '9131169079',
 '8303728193',
 '9691142060',
 '7006829981',
 '19891052549',
 '19763053563',
 '8552888386',
 '8552888386',
 '9725708292',
 '7020950926',
 '9876543210',
 '6263333172',
 '98639966999',
 '9131335800',
 '8348932206',
 '9028574076',
 '7506011132',
 '6392764632',
 '9450600770',
 '8866347215',
 '8494924543',
 '8301029693',
 '8237615965',
 '9833221728',
 '9970614087',
 '9959210178',
 '19999948169',
 '9061097050',
 '9867080680',
 '8884292035',
 '9425155637',
 '9515038074',
 '9099939070',
 '9987612952',
 '9547283837',
 '8369944659',
 '7973233303',
 '7387850625',
 '8087394115',
 '9996419103',
 '8830889359',
 '8482900hfc',
 '8890437111',
 '7984600630',
 '9911068887',
 '1940850703',
 '9772545156',
 '8770239501',
 '9904082337',
 '9876543512',
 '9650262851',
 '7876123556',
 '7696906054',
 '9491116660',
 '984534466',
 '7070543323',
 '9560084889',
 '9860434514',
 '6297255596',
 '9630153470',
 '8303964453',
 '80798765645',
 '9178402060',
 '9167206126',
 '6296366711',
 '7206404446',
 '9851203053',
 '9650331139',
 '9696969696',
 '6958756586',
 '8770649423',
 '8001504114',
 '80467379464',
 '8617284770',
 '8054299882',
 '8000869998',
 '8299838906',
 '9718803040',
 '9851833730',
 '9696837846',
 '7295020583',
 '7000239650',
 '8530267422',
 '8299342088',
 '8387873786',
 '9967573627',
 '8319371131',
 '9040806535',
 '9828965528',
 '7011575134',
 '8000029494',
 '9926243729',
 '9994929664',
 '98409537611',
 '9245231262',
 '9451603312',
 '7838285224',
 '7003062769',
 '9250009189',
 '9382958782',
 '9726843322',
 '6394715724',
 '9755391803',
 '7889802703',
 '9476300295',
 '9365032465',
 '7788968712',
 '8360636981',
 '7888791798',
 '7068321581',
 '8521869418',
 '8605235931',
 '8920169666',
 '8882092406',
 '7417410377',
 '9952200266',
 '8279777869',
 '7488445782',
 '9953505762',
 '7980388741',
 '9421234163',
 '6265305358',
 '9876543210',
 '9543333143',
 '9368189305',
 '8926538496',
 '8005708273',
 '7021422349',
 '9722175717',
 '8218140562',
 '8879318052',
 '9878577449',
 '9041732324',
 '7740962411',
 '9717369771',
 '8547535634',
 '9600459159',
 '9022348804',
 '99909136796',
 '8968338007',
 '6302975874',
 '9999338436',
 '8299321957',
 '8154920985',
 '9532450830',
 '9747960273',
 '9988953522',
 '9416685957',
 '8249710784',
 '9900990099',
 '7737385802',
 '8289962671',
 '8989183674',
 '9025041211',
 '9898992649',
 '982-9502397',
 '8888888888',
 '7008570761',
 '8005454989',
 '8200127895',
 '8436756594',
 '6300761300',
 '9872211485',
 '9038136729',
 '7665656504',
 '9869318911',
 '7428041799',
 '7652907424',
 '9998123588',
 '8755544047',
 '9821459747',
 '9619937215',
 '8355045347',
 '8439884237',
 '9861323410',
 '9887083272',
 '9781704582',
 '9734181553',
 '7065164607',
 '9050086188',
 '9131089055',
 '9176371235',
 '9824225250',
 '8130484218',
 '9703912456',
 '7088255888',
 '6361574468',
 '9377554215',
 '8449576207',
 '8765468995',
 '17265858194',
 '90146574747',
 '9829038360',
 '7001733319',
 '8294418621',
 '7506007239',
 '9677529186',
 '9999064811',
 '7006742118',
 '19495324306',
 '8279264008',
 '9803764724',
 '9827571625',
 '9677179181',
 '9461023075',
 '7678150190',
 '7597386783',
 '9930231690',
 '7980005406',
 '8619256245',
 '6000368546',
 '9463559262',
 '8171176754',
 '9622616046',
 '8588093538',
 '9421677270',
 '9004288027',
 '7992338870',
 '7051134798',
 '9004533550',
 '9586491152',
 '9855773388',
 '9497885627',
 '7078012946',
 '9110122415',
 '8790444627',
 '8101183334',
 '9399465199',
 '6398116246',
 '9424411786',
 '+19759573439',
 '9366323264',
 '7905708670',
 '(653)599-952',
 '9433227506',
 '9910743995',
 '6204609589',
 '9812777707',
 '6263991059',
 '7983738218',
 '9781945445',
 '8875962904',
 '9029472309',
 '8522839184',
 '9511354610',
 '7631602838',
 '19952061101',
 '7005968181',
 '9601558214',
 '9928471886',
 '3083982710',
 '9619478829',
 '6364265277',
 '8050239574',
 '8010040040',
 '8638305697',
 '8295422680',
 '18384081728',
 '8010271225',
 '8600688512',
 '9337071542',
 '9167200649',
 '9908902934',
 '7082967425',
 '9877013038',
 '8954603222',
 '7045601927',
 '9878917645',
 '9495746601',
 '7597129785',
 '643202',
 '7987344661',
 '8219011416',
 '8102783109',
 '7286905243',
 '9633933146',
 '17290856598',
 '7989336031',
 '9798071975',
 '8817114242',
 '7351267207',
 '8053189894',
 '9164585859',
 '8948616569',
 '9022161965',
 '8988633744',
 '9969369955',
 '7780953829',
 '7600185030',
 '9834418016',
 '8108001955',
 '9897482466',
 '8448306474',
 '9711316449',
 '7600981456',
 '9822384969',
 '8334055792',
 '9797316888',
 '8767128542',
 '9588354151',
 '9889826333',
 '8826412670',
 '9870040377',
 '8770943228',
 '9011882880',
 '9014228276',
 '7061548806',
 '9773709467',
 '7717601013',
 '9023681402',
 '19048888140',
 '8709844628',
 '8983730008',
 '8191096644',
 '9668602189',
 ...]

In [40]:
df["Phone_filter"] = list1

In [41]:
df

,First Name,Last Name,Email,Country,Zip,Phone,Total Orders,od_no,Phone_filter
21,Manjila,Khatun,m.khatun005@gnail.com,India,'743368,99338 33567,0,0,9933833567
32,Pooja,Sharma,nakulsharma439@gmail.com,India,'331001,9783750708,0,0,9783750708
49,Meenu,Pasricha,meenuu4143@gmail.com,India,'181201,062392 77275,0,0,6239277275
5,aman,khatri,khatriaman939@gmail.com,India,'201301,79827 74920,0,0,7982774920
6,Rohit,Sangwan,rht1025@gmail.com,India,'127306,7678492537,0,0,7678492537
...,...,...,...,...,...,...,...,...,...
4783,Manjila,Khatun,m.khatun005@gnail.com,India,'743368,99338 33567,0,0,9933833567
4794,Pooja,Sharma,nakulsharma439@gmail.com,India,'331001,9783750708,0,0,9783750708
4811,Meenu,Pasricha,meenuu4143@gmail.com,India,'181201,062392 77275,0,0,6239277275
4812,Tabassum,Ansari,tabassumnsr381@gmail.com,India,'248006,94567 38399,0,0,9456738399
4815,Satua,M,gopi_satya@yahoo.com,India,'500049,91777 71435,0,0,9177771435

In [42]:
df.to_csv("NUL_out.csv")